<%= render 'partial/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="text-center">
            <span style="font-size:24px;">ペットリスティングを掲載する</span>
          </div>
        </div>

        <div class="panel-body">
          <!-- ここからフォーム -->
          <%= form_for @listing do |f| %>
              <div class="row">
                <div class="col-md-12 select">
                  <div class="form-group">
                    <label>お家の種類</label>
                    <%= f.select :home_type,
                     Listing::HOME_TYPE_OPTION.invert,
                     {prompt:"選択してください"},
                     {
                       required: 'true',
                       autofocus: 'true',
                       class: 'form-control'
                     }
                    %>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-12 select">
                  <div class="form-group">
                    <label>ペットの種類</label>
                    <%= f.select :pet_type,
                     Listing::PET_TYPE_OPTION.invert,
                     {prompt:"選択してください"},
                     {required: 'true', autofocus: 'true', class: 'form-control'}
                    %>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-12 select">
                  <div class="form-group">
                    <label>ペットの飼育歴</label>
                    <%= f.select :breeding_years,
                     Listing::BREEDING_YEARS_OPTION.invert,
                     {prompt:"選択してください"},
                     {required: 'true', autofocus: 'true', class: 'form-control'}
                    %>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-12 select">
                  <div class="form-group">
                    <label>ペットのサイズ</label>
                    <%= f.select :pet_size,
                     Listing::PET_SIZE_OPTION.invert,
                     {prompt:"選択してください"},
                     {required: 'true', autofocus: 'true', class: 'form-control'}
                    %>
                  </div>
                </div>
              </div>
              <br>

              <div class="actions">
                <%= f.submit "Save", class: "btn btn-danger" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>


